.fondo{
    background-color: black;
    height: 90vh;
}
.img{
    display: flex;
    justify-content: center;
}
.img img{
    width: 400px;
    padding-top: 40px;
}
.titulo{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    color: rgb(85, 85, 85);
}