<footer class="bg-dark text-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; 2024 Tu Empresa</p>
            </div>
            <div class="col-md-6 text-md-right">
                <a href="#" class="text-light mx-2">Inicio</a>
                <a href="#" class="text-light mx-2">Acerca de nosotros</a>
                <a href="#" class="text-light mx-2">Contacto</a>
            </div>
        </div>
    </div>
</footer>