<!-- <div class="alert alert-primary" role="alert" *ngIf="articuloSeleccionado"> -->

    <h3 class="text-center">Articulo seleccionado </h3>

    <table>

        <tr>
            <td>id:</td>
            <td><input type="text" [(ngModel)]="articulo.id" readonly> </td>
        </tr>
        <tr>
            <td>npmbre:</td>
            <td><input type="text" [(ngModel)]="articulo.nombre"> </td>
        </tr>
        <tr>
            <td>descripcion:</td>
            <td><input type="text" [(ngModel)]="articulo.descripcion"> </td>
        </tr>
        <tr>
            <td>precio:</td>
            <td><input type="text" [(ngModel)]="articulo.precio"> </td>
        </tr>
        <tr>

        </tr>

    </table>

    <div class="text-center">
        <button (click)="modificar()" class="btn btn-primary">Modificar articulo</button>&nbsp;
        <button routerLink="/articulos/cards" class="btn btn-success">Cancelar</button>
    </div>
<!-- </div> -->